button.navbar-toggler {
    /* text-align: center; */
    /* align-items: center; */
    position: absolute;
    top: 1vh;
}

.navbar-brand {
    position: absolute;
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    left: 77vh;
    top: 1vh;
}