p.navbar-brand {
    text-align: center;
}
img {
    width: 100%;
}




.text-offers{
    font-size: 5rem;
    /* position: absolute; */
    position: relative;
    bottom: 250vh;
    text-align: center;
}




/* .text-good-offers {
        position: relative;
        bottom: -167vh;
        font-size: 3rem;
        text-align: center;
        background-color: black;
        color: wheat;
} */


